@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------------common styles -----------*/

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, white, white, rgba(131, 22, 53, 0.7), rgb(8, 8, 58));
    scroll-behavior: smooth;
    overflow: hidden;
}

main {
    margin-left: 200px;
}

:root {
    --navy-color: rgb(8, 8, 58);
    --maroon-color: rgba(131, 22, 53);
    --shadow-color: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.title {
    color: #0A0826;
    font-weight: bolder;
    line-height: 60px;
    font-size: 48px;
}


/* ------------------------------------------
---------Navigation Bar and Hero Image design 
----------------------------------------------*/

.head-container {
    width: 100%;
    height: 677px;
    background-color: var(--navy-color);
    margin-bottom: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 42px;
}

.navlist {
    margin-left: -150px;
}

.navlist ul a {
    padding: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.login a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    background-color: var(--maroon-color);
    padding: 10px 24px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-text h1 {
    color: white;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
}

.hero-text a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--maroon-color);
    padding: 10px 24px;
    text-decoration: none;
}


/* -----------------
  player-gallery-section 
  ------------------*/

.player-grid-container {
    width: 70%;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    width: 70%;
    margin-bottom: 165px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 474px;
    padding-top: 15px;
    box-shadow: var(--shadow-color);
    background-color: white;
}

.player .image img {
    width: 300px;
    height: 256px;
}

.player-name {
    margin-left: 15px;
}

.player-name h1 {
    font-size: 28px;
    font-weight: bolder;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 15px;
}

.player-name p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-left: -2px;
}


/*-------------------------
       highlights section 
 ----------------------*/

.highlights {
    display: flex;
    width: 80%;
    align-items: center;
    /* margin-left: 200px; */
    margin-bottom: 158px;
}

.highlight-details {
    width: 469px;
    margin-right: 69px;
}

.highlight-details h1 {
    color: #0A0826;
    font-weight: bolder;
    line-height: 60px;
    font-size: 48px;
}

.highlight-details p {
    font-size: 16px;
    line-height: 28px;
    /* color: #6C6C6C; */
    color: darkslategray;
    margin-bottom: 35px;
}

.highlight-details a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--maroon-color);
    padding: 10px 24px;
    text-decoration: none;
    margin-top: 24px;
}

.highlight-image {
    width: 50%
}

.highlight-image img {
    width: 567px;
    height: 427px;
}


/*--------------------------
         Schedule section 
 ----------------------------*/


/* .schedules .title {
    margin-left: 200px;
} */

.schedule-date {
    text-align: center;
}

.schedule-date h1 {
    font-size: 30px;
    color: var(--navy-color);
    font-weight: 800;
}

.schedule-date span {
    font-size: 35px;
    color: white;
    margin-right: 10px;
    display: inline-block;
}

.schedule-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -40px;
    margin-bottom: 100px;
    background-color: white;
    box-shadow: var(--shadow-color);
    border-radius: 10px;
    padding: 20px;
}

.schedule h1 {
    font-size: 48px;
    color: var(--maroon-color);
}

.schedule #vs {
    width: 30px;
    height: 30px;
}

.schedule #logo {
    width: 100px;
    height: 100px;
}


/*--------------------------
         update section 
 ----------------------------*/


/* .updates .title {
    margin-left: 200px;
} */

.update-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 200px; */
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-bottom: 100px;
}

.update {
    position: relative;
    width: 330px;
    height: 250px;
    overflow: hidden;
    box-shadow: var(--shadow-color);
    border-radius: 5px;
}

.update-details {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.15);
    color: whitesmoke;
    display: none;
    margin-top: 30px;
}

.update-details h1,
p {
    margin-left: 10px;
}

.update-details h1 {
    text-transform: capitalize;
}

.update img {
    width: 330px;
    height: 250px;
    transition: transform 2s;
}

.update:hover .update-details {
    display: block;
}

.update:hover img {
    transform: scale(1.2);
}


/*--------------------------
         footer section 
 ----------------------------*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 484px;
    height: 110px;
}

.footer-icon .icon {
    /* width: 35px;
    height: 35px; */
    color: gray;
    text-align: center;
    background-color: rgb(218, 212, 212);
    border: 5px solid rgb(218, 212, 212);
    border-radius: 50%;
    margin-left: 14px;
    margin-top: 20px;
}